.triangle{
	transform: rotate(360deg);
}
.excercise{
	font-size: 20px;
	font-weight: bold;
}
.solution{
	font-style: italic ;
	font-size: 20px;
	text-align: center;
	color: red;
	font-weight: bold;
}
.details{
	color: blue;
	font-style: italic;
}