table {
	border-collapse: collapse;
	width: 90%;
	margin: 0 auto;
}
table, tr, th, td {
	border: 1px solid black;
}
nav ul li {
	list-style-type: none;
	float: left;
	width: 100px;
	border: 1px solid black;
	padding: 5px 10px;
	margin: 10px;
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
}
nav {
	height: 40px;
}
a {
	text-decoration: none;
}
.login_account {
	width: 220px;
}
.error {
	color: red;
}
img {
	width: 150px;
}