body{
	margin: 0 auto;
	height: 400px;
	width: 30%;
	padding: 40px;
	background-color: #528B8B;
}
.maleFemale{
	float: left;
	margin-left: 60px;
}
h1{
	font-size: 40px;
}
.box{
	width: 50%;
	height: 30px;
	margin-left: 10px;
}
.box1{
	width: 50%;
	height: 30px;
	margin-left: 0px;
}
.box2{
	width: 50%;
	height: 30px;
	margin-left: 20px;
}
.submit{
	margin-left: 60px;
}
form{
	background-color: #2F4F4F;
	height: 520px;
	width: 100%;
	margin: 0 auto;
	padding: 40px;
}
.error{
	color: red;
}